---
import ErrorLayout from "../layouts/ErrorLayout.astro";

const pageTitle = "Erik Ramirez | 404";
---

<ErrorLayout pageTitle={pageTitle}>
    <h2 class="error-title">404</h2>
    <p class="error-subtitle">Página No Encontrada</p>
    <p class="error-description">
        Parece que te has perdido en el ciberespacio. Regresemos a un lugar
        seguro.
    </p>
    <a href="/" class="btn">Volver al Inicio</a>
</ErrorLayout>
